body {background-color: black}

header {overflow: scroll; } 

h2 {text-align: center}

.childhood {float: center;
         font-family:Times New Roman", Georgia, Serif; 
         text-align: center; padding-top: 250px; font-size:  20px}

img {max-width: 1200px; height: 550px;padding-top: 50px; padding-left: 25px}
     

     body {
	margin: 50;
	background: #800000;
	font-family: 'Work Sans', serif;
	font-weight: 200;
    padding-top: 10
    padding-left: 50
    
    
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background:#010101 ;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
    background-image: url(Images/transparent logo.png);
  float: left;
  padding: 3px 0; 
    width: 50px; 
    height: 50px; 

}

nav {
  float: center;
    padding-top: 20px
  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 130px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color:white;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 14px;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color:#010101;

  position: relative;
  top: 0;
  width: 0%;
;
}


@media (max-width: 400px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 2;
  column-count:         4;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 2;
  column-count:         4;
  }
}

img {
    opacity: 1;
    filter: alpha(opacity=100); 
}

p {text-align: center;font-family: 'Times New Roman'; font-size: 20px}

h1 {text-align: center; font-family: 'Times New Roman'; font-size: 40px}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: underline;  border-radius: 50%;
}
.boxed {
  border: 15px solid black ;
}

.fa:hover {
    opacity: 0.5;
}


/* Facebook */
.fa-facebook {
    background: #010101;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #010101;
    color: white;

}
/* Instagram*/
.fa-instagram {
    background: #010101;
    color: white

}

div.social {text-align: center; padding-bottom: 10px}

iframe {width: 600px; height: 500px;}